*
!.gitignore
!.github/
!.github/**

!LICENSE
!README.md

!setup.sh

!.dockerignore
!.docker/
!.docker/**

!package.json
!package-lock.json
!tsconfig.json
!eslint.config.mjs
!scripts/
!scripts/**

!webpack.config.mjs
!postcss.config.mjs
!public/
!public/**
!src/
!src/**
